<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nono.oxfamv2">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/oxfam_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chips"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FinalAddition"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chocolate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Juice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Candy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Soft"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Barre"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Promos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Choice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Secure"
            android:screenOrientation="portrait" />
    </application>

</manifest>